<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UserConfig_TEST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <UserConfig_TEST.Properties.Settings>
            <setting name="cpu0" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="cpu1" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="cpu2" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="cpu3" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="cpu0_value" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="cpu1_value" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="cpu2_value" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="cpu3_value" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="gpu" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="gpu_value" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="bg" serializeAs="String">
                <value>#262627</value>
            </setting>
        </UserConfig_TEST.Properties.Settings>
    </userSettings>
</configuration>